# В случае если запускается через docker-compose, если запуск через Docker 
# то менять ничего не нужно, просто копировать в .env и убрать второй URL
DATABASE_URL=postgresql+psycopg://postgres:postgres@db:5432/appeal_db

# В случае если запускается локально с локальной бд pg, нужно заполнить свои данные
DATABASE_URL=postgresql+psycopg://USER:PASSWORD@localhost:5432/DATABASE_NAME

#Нужно выбрать один вариант подходящий под ситуацию запуска