#Формат строки URL который передается в Alembic для подключения к бд PostgreSQL локально не через докер
DATABASE_URL=postgresql+psycopg://user:password@localhost:5432/database_name

#Формат строки URL который передается в Alembic для подключения к бд PostgreSQL в докере
DATABASE_URL=postgresql+psycopg://user:password@localhost:host.docker.internal:5432/database_name